.edit-card {
  position: fixed;
  width: 100%;
  height: 30%;
  bottom: 0px;
  background: white;
  box-shadow: 5px 7px 7px 20px rgba(0,0,0,0.5);
  font-size: 120px;
}

.edit-card-enter {
  height: 0;
}

.edit-card-enter.edit-card-enter-active {
  height: 30%;
  transition: height 300ms ease-in;
  transition-delay: 150ms
}

.edit-card-leave {
  height: 30%;
}

.edit-card-leave.edit-card-leave-active {
  height: 0;
  transition: height 150ms ease-in;
}