.edit-card {
  position: fixed;
  width: 100%;
  height: 30%;
  bottom: 0px;
  background: white;
  box-shadow: 10px 15px 15px 40px rgba(0,0,0,0.5);
  font-size: 120px;
}

.edit-card-enter {
  opacity: 0.01;
}

.edit-card-enter.edit-card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.edit-card-leave {
  opacity: 1;
}

.edit-card-leave.edit-card-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}