.manga-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.manga-list-item {
  float: left;
  width: 50%;
}

.manga-list-container {
  height: 200px;
  overflow: hidden;
}

.manga-list-img {
  width: 100%;
}

